<div class="container">
  <div class="row center">
    <%= link_to new_user_path do %>
    <div class="col-md-3 col-md-offset-1">
      <div class="thumbnail">
        <%= image_tag 'adduser.ico' , :style => "width:150px;height:150px;" %>
        <div class="caption">
          <h3>Add new user</h3>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to users_path do %>
     <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag 'userlist.jpg', :style => "width:150px;height:150px;"%>
        <div class="caption">
          <h3>View all users</h3>
        </div>
      </div>
    </div>
    <% end %>
  </div>  
</div>