<div class="container">
  <div class="col-xs-10 col-xs-offset-2 well well-lg">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Testcase ID</th>
          <th scope="col">Testcase Name</th>
          <th scope="col">Description</th>
          <th scope="col">Auther</th>
        </tr>
      </thead>
      <tbody>
      <% @testcases.each do |testcase| %>
          <tr>
          <th scope="row"><%= testcase.id %></th>
          <td><%= testcase.title %> </td>
          <td><%= testcase.description %></td>
          <td>Kartik Aiyar</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
